.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    position: sticky;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0 auto;
    font-family: "Google Sans", sans-serif;
    color: #566368;
    padding-left: 5px;
    border-radius: 5px;

}

.header-icon {
    margin: 0 10px;
    cursor: pointer;

}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 20px;

}

.header-logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.header-title {
    font-size: 1.5rem;
    margin-left: 10px;
}

.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f9;
    width: 600px;
    height: 45px;
    border-radius: 5px;
    margin-left: 100px;
}

.search-input {
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.header-right {
    display: flex;
    align-items: center;

}

.user-avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1.25rem;
    }

    .header-logo {
        height: 30px;
    }

    .form-image {
        height: 25px;
        /* Adjust for mobile view */
    }

    .user-avatar {
        width: 35px;
        height: 35px;
    }
}